.icon-search-form {
    margin-right: -65px;
    z-index: 10000;
}

.layout-changes-input {
    background-color: transparent;
    border-color: var(--font-normal) !important;
    border-radius: 5px;
    min-width: 380px;
    padding-left: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 24px 0px 24px 24px;
    letter-spacing: .1rem;
    font-family: inherit ;
    font-size: medium;
    color: var(--font-normal);
}