.layout-changes {
    min-width: 90px;
    background: transparent;
    border-color: transparent;
    margin: 24px;
    letter-spacing: .1rem;
    font-family: inherit;
    font-size: medium;
    color: var(--font-normal);
}

button:hover{
    color: var(--font-highlight);
}