<div class="background-navbar">
        <div class="logo-image">
            <img src="../assets/images/logo.png" routerLink="/home-page" alt="Logo Company" width="142" height="62">    
        </div>

        <app-nav-bar-drop-down [titleLabel]="titleLabel" [optionsList]="optionsList"></app-nav-bar-drop-down>
    
        <app-nav-bar-button [label]="'About Us'" [pageToGo]="'/aboutUs'"></app-nav-bar-button>
        <app-nav-bar-button [label]="'Support'" [pageToGo]="'/support'"></app-nav-bar-button>
        <app-nav-bar-button [label]="'SUBMISSIONS'" [pageToGo]="'/submissions'"></app-nav-bar-button>

        <div class="background-right">
            <app-nav-bar-search-form></app-nav-bar-search-form>
            <h4 class="erase-margin"><i class="bi bi-cart icon"></i></h4>
            <h4 class="erase-margin"><i class="bi bi-person-circle icon"></i></h4>
        </div>

        
</div>
