<div class="background-navbar">
        <div class="logo-image">
            <img src="../assets/images/logo.png" routerLink="/home-page" alt="Logo Company" width="142" height="62">    
        </div>

        <app-nav-bar-drop-down [titleLabel]="titleLabel" [optionsList]="optionsList"></app-nav-bar-drop-down>
    
        <!--<app-nav-bar-button (item)="'Support'" (pageToGo)="'/support'"></app-nav-bar-button>
        <app-nav-bar-button (item)="'SUBMISSIONS'" (pageToGo)="'/submissions'"></app-nav-bar-button>

        <div class="background">
            <form >
                <input class="layout-changes-input" type="text" placeholder="Search Cards..">
                <h4><i class="bi bi-search icon-color"></i></h4>
            </form>
            <h4><i class="bi bi-cart icon-color"></i></h4>
            <h4><i class="bi bi-person-circle icon-color"></i></h4>
        </div>-->
</div>
