@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --dark-background: #202124;
    --font-normal: #e8eaed;
    --font-highlight: #E31C25;
}

* {
    margin: 0;
    padding: 0;
}

.icon-color{
    color: var(--font-normal);
}

.layout-changes {
    background: transparent;
    border-color: transparent;
    margin: 24px 0px 24px 24px;
    letter-spacing: .1rem;
    font-family: Montserrat;
    font-size: medium;
    color: var(--font-normal);
}

.alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px;
}