<div class="dropdown">
    <div class="alignment">
        <span class="layout-changes">Grading</span>
        <h5 class="erase-margin"><i class="bi bi-caret-down icon-color"></i></h5>
    </div>
    
    <div class="dropdown-content" fxLayout="column" fxLayoutAlign="space-around start" >
      <button class="possible-choices">Sports Cards</button>
      <button class="possible-choices">Non-Sports Cards</button>
      <button class="possible-choices">Gaming Cards</button>
      <button class="possible-choices">Comics</button>
    </div>
</div>